// Adapted from https://jsfiddle.net/NullDev/nju10Loz/2/
.star-rating {
  display: flex;
  align-items: center;

  & > span {
    margin-left: 10px;
  }

  &__stars {
    @apply text-gray-200;
    position: relative;

    svg {
      // width: 30px;
      // height: 30px;
      flex-shrink: 0;
    }

    &--filled {
      @apply text-yellow-400;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: flex;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 0;
    }

    &--empty {
      padding: 0;
      display: flex;
      z-index: 0;
    }
  }

  // Adapted from https://codepen.io/jamesbarnett/pen/vlpkh
  &__input {
    border: none;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    input {
      display: none;

      &:checked {
        // show gold star when clicked
        & ~ label {
          @apply opacity-100;
        }

        // hover current star when changing rating
        & + label:hover,
        & ~ label:hover,

        // lighten current selection
        & ~ label:hover ~ label {
          @apply opacity-70;
        }
      }
    }

    label {
      overflow: hidden;

      &.half {
        position: absolute;
      }

      @apply opacity-10;

      &:checked ~ label {
        @apply opacity-100;
      }
    }

    &:not(:checked) label {
      // hover current star
      &:hover,
      // hover previous stars in list
      &:hover ~ label {
        @apply opacity-100;
      }
    }

    // lighten current selection
    &:hover ~ input:checked ~ label {
      @apply opacity-70;
    }
  }
}
